@import "tailwindcss";

:root {
  --color-primary: #373737;
  --color-secondary: #8AB83F;
  --color-accent: #4A4EFA;
  --color-white: #f8faff;
  --color-bg: #f5f5f5; 
  --color-border: #ebe6e7;
  --color-secondary-tinted: #BADA861B;

  --color-font: #1f2937;
  --color-font-strong: #111827;
  --color-font-muted: #6b7280;
}

@theme {
  --breakpoint-desktop: 990px;
}

body {
  background: var(--color-bg);
  color: var(--color-font);
  font-size: 1.05rem;
  line-height: 1.6;
}

/* Text Styles */
.text-strong {
  color: var(--color-font-strong);
}

.text-secondary {
  color: var(--color-secondary)
}

.text-muted {
  color: var(--color-font-muted);
}

/* links */
.link {
  cursor: pointer;
}

/* Primary links (default) */
.link-primary {
  font-weight: 600;
}

/* Muted links */
.link-muted {
  color: var(--color-font-muted);
}

.link-primary:hover,.link-muted:hover {
  text-decoration: underline;
  color: var(--color-accent);
  transition: transform 0.3s ease;
}

/* Header Links */
.link-nav {
  font-weight: 600;
  color: var(--color-white);
}

.footer .link-nav:hover{
  text-decoration: underline;
}

/* Header - Footer */
.header-bg, .footer-bg {
  background-color: var(--color-primary);
  color: var(--color-white);
}

/* hamburger lines */
.hamburger-line {
  width: 24px;
  height: 3px;
  background:  var(--color-white);;
  transition: all 0.3s ease;
  cursor: pointer;
}

/* animation */
#menu-btn.open .hamburger-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

#menu-btn.open .hamburger-line:nth-child(2) {
  opacity: 0;
}

#menu-btn.open .hamburger-line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* navigation links */
.nav-link {
  position: relative;
  padding-bottom: 4px;
  font-weight: 500;
}

/* underline indicator */
.nav-active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-secondary);
}

.tinted-bg {
  background-color: var(--color-secondary-tinted);
}

.pill {
  display: inline-flex;
  align-items: center;
  border-radius: 9999px;
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--color-white);
  background-color: var(--color-secondary);

  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.group:hover .pill {
  background-color: var(--color-accent);
}

.footer-img img:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease;
}

/* Media Tab Nav */
.media-nav-btn {
  border-bottom: none;
  position: relative;
  padding: 0.75rem 0;
  transition: color 0.25s ease;
  color: var(--color-font-muted);
  font-weight: 600;
}

.media-nav-btn:hover {
  cursor: pointer;
  color: var(--color-accent);
}

.active-media-nav {
  color: var(--color-primary);
}

.active-media-nav::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-secondary);
  color: var(--color-accent);
}
